{% extends "layout.html" %}

{% block title %}
    Automatisatie
{% endblock %}

{% block automatisatie %}
    class="active"
{% endblock %}

{% block body %}

    <div class="center">
    <h1>Automatisatie</h1>
    <form method="post">
        <button class="knop_automatisatie" type="submit" value="geen licht-open gordijn" name="button">Geen licht-open gordijn</button>
        <button class="knop_automatisatie" type="submit" value="wel licht-open gordijn" name="button">Wel licht-open gordijn</button>
    </form>

    </div>

{% endblock %}