<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>
<main>
    <nav>
    <a  class="logo" href="{{ url_for('home') }}"> <img src="static/pic/logo.PNG"> </a>
        <ul>
            <li><a {% block home %} {% endblock %} href="{{ url_for("home") }}"> HOME</a></li>
            <li><a {% block log %} {% endblock %} href="{{ url_for("log") }}">LOG</a></li>
            <li><a {% block automatisatie %} {% endblock %} href="{{ url_for("automatisatie") }}">AUTOMATISATIE</a></li>
            <li><a {% block grafiek %} {% endblock %} href="{{ url_for("grafiek") }}">GRAFIEK</a></li>
            <li><a {% block loguit %} {% endblock %} href="{{ url_for("logout") }}">LOG UIT</a></li>
        </ul>
    </nav>
{% block body %}
    <body>

    </body>
{% endblock %}

{% block footer %}
    <div class="footer">&copy; 2017 Mathias Van Hecke -- <a href="http://student.howest.be/mathias.van.hecke/portfolio/">Hier</a> vindt u de link naar mijn portefolio, Dit is een ode aan de eindeloze zomerdagen van de jeugdjaren.</div>

{% endblock %}
{% block scripts %}

{% endblock %}
</main>
</html>